In [3]:
import pandas as pd
import nltk
import string
import re
from nltk.corpus import wordnet

## Importing

In [5]:
df = pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\olid-training-v1.0.tsv", sep="\t")

In [6]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

## Twitter Pre-Processing

In [7]:
df['tweet'] = df['tweet'].str.replace('@USER','')

In [8]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home you’re drunk!!! #MAGA #Trump2020 👊🇺...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [9]:
# Removing hyperlinks
def hyperlink(tweet):
    return re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)

In [10]:
df['tweet'] = df['tweet'].apply(hyperlink)

In [11]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home you’re drunk!!! #MAGA #Trump2020 👊🇺...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [12]:
# Removing retweets
def retweets(tweet):
    return re.sub(r'^RT[\s]+', '', tweet)

In [13]:
df['tweet'] = df['tweet'].apply(retweets)

In [14]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home you’re drunk!!! #MAGA #Trump2020 👊🇺...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [15]:
def split_hashtag(tweet):
    return re.sub(r'#', '', tweet)

In [16]:
df['tweet'] = df['tweet'].apply(split_hashtag)

In [17]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home you’re drunk!!! MAGA Trump2020 👊🇺🇸👊...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice HumanRights and Fre...,NOT,NaN,NaN

In [18]:
# Splitting joined words
def join_words(tweet):
    return re.sub(r"([a-z\.!?])([A-Z])", r"\1 \2", tweet)

In [19]:
df['tweet'] = df['tweet'].apply(join_words)

In [20]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home you’re drunk!!! MAGA Trump2020 👊🇺🇸👊...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should've Taken"" this piece of shit t...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice Human Rights and Fr...,NOT,NaN,NaN

## Removing Numbers

In [21]:
df['tweet'] = df['tweet'].replace('\d+', '', regex=True)

In [22]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home you’re drunk!!! MAGA Trump 👊🇺🇸👊 URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should've Taken"" this piece of shit t...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice Human Rights and Fr...,NOT,NaN,NaN

## Removing Punctuation

In [23]:
df['tweet'] = df['tweet'].str.replace('[{}]'.format(string.punctuation), '')

<ipython-input-23-620bbc0d7df0>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['tweet'] = df['tweet'].str.replace('[{}]'.format(string.punctuation), '')

In [24]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home you’re drunk MAGA Trump 👊🇺🇸👊 URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,Someone shouldve Taken this piece of shit to ...,OFF,UNT,NaN
4,43605,Obama wanted liberals amp illegals to move i...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage We dont give a crap,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs justice Human Rights and Fre...,NOT,NaN,NaN

## Removing Whitespaces

In [25]:
df['tweet'] = df['tweet'].str.strip()

In [26]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what the...,OFF,UNT,NaN
1,90194,Go home you’re drunk MAGA Trump 👊🇺🇸👊 URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,Someone shouldve Taken this piece of shit to a...,OFF,UNT,NaN
4,43605,Obama wanted liberals amp illegals to move int...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and t...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage We dont give a crap,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs justice Human Rights and Fre...,NOT,NaN,NaN

## Converting to lowercase

In [27]:
df['tweet'] = df['tweet'].str.lower()

In [28]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,she should ask a few native americans what the...,OFF,UNT,NaN
1,90194,go home you’re drunk maga trump 👊🇺🇸👊 url,OFF,TIN,IND
2,16820,amazon is investigating chinese employees who ...,NOT,NaN,NaN
3,62688,someone shouldve taken this piece of shit to a...,OFF,UNT,NaN
4,43605,obama wanted liberals amp illegals to move int...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,sometimes i get strong vibes from people and t...,OFF,TIN,IND
13236,67210,benidorm ✅ creamfields ✅ maga ✅ not too sh...,NOT,NaN,NaN
13237,82921,and why report this garbage we dont give a crap,OFF,TIN,OTH
13238,27429,pussy,OFF,UNT,NaN
13239,46552,spanishrevenge vs justice human rights and fre...,NOT,NaN,NaN

## Removing Stop Words

In [29]:
from nltk.corpus import stopwords  
from nltk.tokenize import TweetTokenizer 
tokenizer = TweetTokenizer(preserve_case=True, strip_handles=True, reduce_len=True)

In [30]:
def token(tweet):
    return tokenizer.tokenize(tweet)

In [31]:
df['tweet'] = df['tweet'].apply(token)

In [32]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[she, should, ask, a, few, native, americans, ...",OFF,UNT,NaN
1,90194,"[go, home, you, ’, re, drunk, maga, trump, 👊, ...",OFF,TIN,IND
2,16820,"[amazon, is, investigating, chinese, employees...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, this, piece, of, sh...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberals, amp, illegals, to, m...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, i, get, strong, vibes, from, peopl...",OFF,TIN,IND
13236,67210,"[benidorm, ✅, creamfields, ✅, maga, ✅, not, to...",NOT,NaN,NaN
13237,82921,"[and, why, report, this, garbage, we, dont, gi...",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, vs, justice, human, rights, a...",NOT,NaN,NaN

In [33]:
stop_words = set(stopwords.words('english'))

In [34]:
def remove(tweet):
    return [i for i in tweet if i not in stop_words]

In [35]:
df['tweet'] = df['tweet'].apply(remove)

In [36]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[ask, native, americans, take]",OFF,UNT,NaN
1,90194,"[go, home, ’, drunk, maga, trump, 👊, 🇺, 🇸, 👊, ...",OFF,TIN,IND
2,16820,"[amazon, investigating, chinese, employees, se...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, piece, shit, volcan...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberals, amp, illegals, move,...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, get, strong, vibes, people, man, ’...",OFF,TIN,IND
13236,67210,"[benidorm, ✅, creamfields, ✅, maga, ✅, shabby,...",NOT,NaN,NaN
13237,82921,"[report, garbage, dont, give, crap]",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, vs, justice, human, rights, f...",NOT,NaN,NaN

## Lemmatising

In [37]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [38]:
def get_wordnet_POS(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(word, wordnet.NOUN)

In [39]:
def lemm(tweet):
    return [lemmatizer.lemmatize(i, get_wordnet_POS(i)) for i in tweet]

In [40]:
df['tweet'] = df['tweet'].apply(lemm)

In [41]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[ask, native, american, take]",OFF,UNT,NaN
1,90194,"[go, home, ’, drunk, maga, trump, 👊, 🇺, 🇸, 👊, ...",OFF,TIN,IND
2,16820,"[amazon, investigating, chinese, employee, sel...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, piece, shit, volcan...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberal, amp, illegals, move, ...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, get, strong, vibe, people, man, ’,...",OFF,TIN,IND
13236,67210,"[benidorm, ✅, creamfields, ✅, maga, ✅, shabby,...",NOT,NaN,NaN
13237,82921,"[report, garbage, dont, give, crap]",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, v, justice, human, right, fre...",NOT,NaN,NaN

## Saving Processed Training Data

In [42]:
df.to_csv('processed_train.csv')

## Pre-Processing Unlabelled Data

In [43]:
df_unlab = pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\SOLID\test_a_tweets_all.tsv", sep='\t')

In [44]:
df_unlab

          id                                              tweet
0         B0  Has @USER quit? I've not heard of any #knifecr...
1         B1  In celebration of Emancipation Day, we urge yo...
2         B2  @USER @USER It’d be a literal dream come true ...
3         B3  Brilliant news to read that Hoggy has signed a...
4         B4                    @USER She speaks of the truth 😌
...      ...                                                ...
5990  BC2101  @USER @USER Nothing about trump is human or no...
5991  BC2102    @USER Oh shit. That sounds like a cool time tho
5992  BC2103  @USER @USER I gotta say that shit to you one t...
5993  BC2104  @USER tRUmp does everything he can to destroy ...
5994  BC2105  I was gonna tweet some shit like holding hands...

[5995 rows x 2 columns]

In [45]:
df_unlab = df_unlab.append(pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\SOLID\test_b_tweets_all.tsv", sep='\t'))

In [46]:
df_unlab

          id                                              tweet
0         B0  Has @USER quit? I've not heard of any #knifecr...
1         B1  In celebration of Emancipation Day, we urge yo...
2         B2  @USER @USER It’d be a literal dream come true ...
3         B3  Brilliant news to read that Hoggy has signed a...
4         B4                    @USER She speaks of the truth 😌
...      ...                                                ...
2998  BC2101  @USER @USER Nothing about trump is human or no...
2999  BC2102    @USER Oh shit. That sounds like a cool time tho
3000  BC2103  @USER @USER I gotta say that shit to you one t...
3001  BC2104  @USER tRUmp does everything he can to destroy ...
3002  BC2105  I was gonna tweet some shit like holding hands...

[8998 rows x 2 columns]

In [47]:
df_unlab = df_unlab.append(pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\SOLID\test_c_tweets_all.tsv", sep='\t'))

In [48]:
df_unlab

          id                                              tweet
0         B0  Has @USER quit? I've not heard of any #knifecr...
1         B1  In celebration of Emancipation Day, we urge yo...
2         B2  @USER @USER It’d be a literal dream come true ...
3         B3  Brilliant news to read that Hoggy has signed a...
4         B4                    @USER She speaks of the truth 😌
...      ...                                                ...
1542  BC2096  @USER This is an outright lie and I am about t...
1543  BC2097      Okay im over it , fuck niggas and all that...
1544  BC2100  @USER What do you mean “IF” we already know he...
1545  BC2101  @USER @USER Nothing about trump is human or no...
1546  BC2104  @USER tRUmp does everything he can to destroy ...

[10545 rows x 2 columns]

In [49]:
df_unlab = df_unlab.reset_index().drop(['index'], axis=1)

In [50]:
df_unlab

           id                                              tweet
0          B0  Has @USER quit? I've not heard of any #knifecr...
1          B1  In celebration of Emancipation Day, we urge yo...
2          B2  @USER @USER It’d be a literal dream come true ...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                    @USER She speaks of the truth 😌
...       ...                                                ...
10540  BC2096  @USER This is an outright lie and I am about t...
10541  BC2097      Okay im over it , fuck niggas and all that...
10542  BC2100  @USER What do you mean “IF” we already know he...
10543  BC2101  @USER @USER Nothing about trump is human or no...
10544  BC2104  @USER tRUmp does everything he can to destroy ...

[10545 rows x 2 columns]

## Twitter Pre-Processing

In [51]:
df_unlab['tweet'] = df_unlab['tweet'].str.replace('@USER','')

In [52]:
df_unlab

           id                                              tweet
0          B0  Has  quit? I've not heard of any #knifecrime t...
1          B1  In celebration of Emancipation Day, we urge yo...
2          B2    It’d be a literal dream come true for me to ...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                          She speaks of the truth 😌
...       ...                                                ...
10540  BC2096   This is an outright lie and I am about to exp...
10541  BC2097      Okay im over it , fuck niggas and all that...
10542  BC2100   What do you mean “IF” we already know he’s be...
10543  BC2101    Nothing about trump is human or normal. Unle...
10544  BC2104   tRUmp does everything he can to destroy the f...

[10545 rows x 2 columns]

In [53]:
df_unlab['tweet'] = df_unlab['tweet'].apply(hyperlink)

In [54]:
df_unlab

           id                                              tweet
0          B0  Has  quit? I've not heard of any #knifecrime t...
1          B1  In celebration of Emancipation Day, we urge yo...
2          B2    It’d be a literal dream come true for me to ...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                          She speaks of the truth 😌
...       ...                                                ...
10540  BC2096   This is an outright lie and I am about to exp...
10541  BC2097      Okay im over it , fuck niggas and all that...
10542  BC2100   What do you mean “IF” we already know he’s be...
10543  BC2101    Nothing about trump is human or normal. Unle...
10544  BC2104   tRUmp does everything he can to destroy the f...

[10545 rows x 2 columns]

In [55]:
df_unlab['tweet']= df_unlab['tweet'].apply(retweets)

In [56]:
df_unlab

           id                                              tweet
0          B0  Has  quit? I've not heard of any #knifecrime t...
1          B1  In celebration of Emancipation Day, we urge yo...
2          B2    It’d be a literal dream come true for me to ...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                          She speaks of the truth 😌
...       ...                                                ...
10540  BC2096   This is an outright lie and I am about to exp...
10541  BC2097      Okay im over it , fuck niggas and all that...
10542  BC2100   What do you mean “IF” we already know he’s be...
10543  BC2101    Nothing about trump is human or normal. Unle...
10544  BC2104   tRUmp does everything he can to destroy the f...

[10545 rows x 2 columns]

In [57]:
df_unlab['tweet'] = df_unlab['tweet'].apply(split_hashtag)

In [58]:
df_unlab

           id                                              tweet
0          B0  Has  quit? I've not heard of any knifecrime to...
1          B1  In celebration of Emancipation Day, we urge yo...
2          B2    It’d be a literal dream come true for me to ...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                          She speaks of the truth 😌
...       ...                                                ...
10540  BC2096   This is an outright lie and I am about to exp...
10541  BC2097      Okay im over it , fuck niggas and all that...
10542  BC2100   What do you mean “IF” we already know he’s be...
10543  BC2101    Nothing about trump is human or normal. Unle...
10544  BC2104   tRUmp does everything he can to destroy the f...

[10545 rows x 2 columns]

In [59]:
df_unlab['tweet'] = df_unlab['tweet'].apply(join_words)

In [60]:
df_unlab

           id                                              tweet
0          B0  Has  quit? I've not heard of any knifecrime to...
1          B1  In celebration of Emancipation Day, we urge yo...
2          B2    It’d be a literal dream come true for me to ...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                          She speaks of the truth 😌
...       ...                                                ...
10540  BC2096   This is an outright lie and I am about to exp...
10541  BC2097      Okay im over it , fuck niggas and all that...
10542  BC2100   What do you mean “IF” we already know he’s be...
10543  BC2101    Nothing about trump is human or normal. Unle...
10544  BC2104   t RUmp does everything he can to destroy the ...

[10545 rows x 2 columns]

## RemovingNumbers

In [61]:
df_unlab['tweet'] = df_unlab['tweet'].replace('\d+', '', regex=True)

In [62]:
df_unlab

           id                                              tweet
0          B0  Has  quit? I've not heard of any knifecrime to...
1          B1  In celebration of Emancipation Day, we urge yo...
2          B2    It’d be a literal dream come true for me to ...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                          She speaks of the truth 😌
...       ...                                                ...
10540  BC2096   This is an outright lie and I am about to exp...
10541  BC2097      Okay im over it , fuck niggas and all that...
10542  BC2100   What do you mean “IF” we already know he’s be...
10543  BC2101    Nothing about trump is human or normal. Unle...
10544  BC2104   t RUmp does everything he can to destroy the ...

[10545 rows x 2 columns]

## Removing Punctuation

In [63]:
df_unlab['tweet'] = df_unlab['tweet'].str.replace('[{}]'.format(string.punctuation), '')

<ipython-input-63-91cd49cefc87>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_unlab['tweet'] = df_unlab['tweet'].str.replace('[{}]'.format(string.punctuation), '')

In [64]:
df_unlab

           id                                              tweet
0          B0    Has  quit Ive not heard of any knifecrime today
1          B1  In celebration of Emancipation Day we urge you...
2          B2    It’d be a literal dream come true for me to ...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                          She speaks of the truth 😌
...       ...                                                ...
10540  BC2096   This is an outright lie and I am about to exp...
10541  BC2097          Okay im over it  fuck niggas and all that
10542  BC2100   What do you mean “IF” we already know he’s be...
10543  BC2101    Nothing about trump is human or normal Unles...
10544  BC2104   t RUmp does everything he can to destroy the ...

[10545 rows x 2 columns]

## Removing Whitespace

In [65]:
df_unlab['tweet'] = df_unlab['tweet'].str.strip()

In [66]:
df_unlab

           id                                              tweet
0          B0    Has  quit Ive not heard of any knifecrime today
1          B1  In celebration of Emancipation Day we urge you...
2          B2  It’d be a literal dream come true for me to wi...
3          B3  Brilliant news to read that Hoggy has signed a...
4          B4                          She speaks of the truth 😌
...       ...                                                ...
10540  BC2096  This is an outright lie and I am about to expo...
10541  BC2097          Okay im over it  fuck niggas and all that
10542  BC2100  What do you mean “IF” we already know he’s bee...
10543  BC2101  Nothing about trump is human or normal Unless ...
10544  BC2104  t RUmp does everything he can to destroy the f...

[10545 rows x 2 columns]

## Converting to lowercase

In [67]:
df_unlab['tweet'] = df_unlab['tweet'].str.lower()

In [68]:
df_unlab

           id                                              tweet
0          B0    has  quit ive not heard of any knifecrime today
1          B1  in celebration of emancipation day we urge you...
2          B2  it’d be a literal dream come true for me to wi...
3          B3  brilliant news to read that hoggy has signed a...
4          B4                          she speaks of the truth 😌
...       ...                                                ...
10540  BC2096  this is an outright lie and i am about to expo...
10541  BC2097          okay im over it  fuck niggas and all that
10542  BC2100  what do you mean “if” we already know he’s bee...
10543  BC2101  nothing about trump is human or normal unless ...
10544  BC2104  t rump does everything he can to destroy the f...

[10545 rows x 2 columns]

## Removing Stop Words

In [69]:
from nltk.corpus import stopwords  
from nltk.tokenize import TweetTokenizer 
tokenizer = TweetTokenizer(preserve_case=True, strip_handles=True, reduce_len=True)

In [70]:
def token(tweet):
    return tokenizer.tokenize(tweet)

In [71]:
df_unlab['tweet'] = df_unlab['tweet'].apply(token)

In [72]:
df_unlab

           id                                              tweet
0          B0  [has, quit, ive, not, heard, of, any, knifecri...
1          B1  [in, celebration, of, emancipation, day, we, u...
2          B2  [it, ’, d, be, a, literal, dream, come, true, ...
3          B3  [brilliant, news, to, read, that, hoggy, has, ...
4          B4                   [she, speaks, of, the, truth, 😌]
...       ...                                                ...
10540  BC2096  [this, is, an, outright, lie, and, i, am, abou...
10541  BC2097  [okay, im, over, it, fuck, niggas, and, all, t...
10542  BC2100  [what, do, you, mean, “, if, ”, we, already, k...
10543  BC2101  [nothing, about, trump, is, human, or, normal,...
10544  BC2104  [t, rump, does, everything, he, can, to, destr...

[10545 rows x 2 columns]

In [73]:
stop_words = set(stopwords.words('english'))

In [74]:
def remove(tweet):
    return [i for i in tweet if i not in stop_words]

In [75]:
df_unlab['tweet'] = df_unlab['tweet'].apply(remove)

In [76]:
df_unlab

           id                                              tweet
0          B0              [quit, ive, heard, knifecrime, today]
1          B1  [celebration, emancipation, day, urge, emancip...
2          B2  [’, literal, dream, come, true, win, especiall...
3          B3  [brilliant, news, read, hoggy, signed, new, co...
4          B4                                 [speaks, truth, 😌]
...       ...                                                ...
10540  BC2096      [outright, lie, expose, yet, shameless, liar]
10541  BC2097                           [okay, im, fuck, niggas]
10542  BC2100  [mean, “, ”, already, know, ’, massive, fuck, ...
10543  BC2101  [nothing, trump, human, normal, unless, also, ...
10544  BC2104  [rump, everything, destroy, fabric, country, o...

[10545 rows x 2 columns]

## Lemmatising

In [77]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [78]:
def get_wordnet_POS(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(word, wordnet.NOUN)

In [79]:
def lemm(tweet):
    return [lemmatizer.lemmatize(i, get_wordnet_POS(i)) for i in tweet]

In [81]:
df_unlab['tweet'] = df_unlab['tweet'].apply(lemm)

In [80]:
df_unlab

           id                                              tweet
0          B0              [quit, ive, heard, knifecrime, today]
1          B1  [celebration, emancipation, day, urge, emancip...
2          B2  [’, literal, dream, come, true, win, especiall...
3          B3  [brilliant, news, read, hoggy, signed, new, co...
4          B4                                 [speaks, truth, 😌]
...       ...                                                ...
10540  BC2096      [outright, lie, expose, yet, shameless, liar]
10541  BC2097                           [okay, im, fuck, niggas]
10542  BC2100  [mean, “, ”, already, know, ’, massive, fuck, ...
10543  BC2101  [nothing, trump, human, normal, unless, also, ...
10544  BC2104  [rump, everything, destroy, fabric, country, o...

[10545 rows x 2 columns]

In [82]:
df_unlab.to_csv('processed_unlab.csv')