In [19]:
import pandas as pd
import nltk
import string
import re

## Importing

In [77]:
df = pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\OLIDv1.0\olid-training-v1.0.tsv", sep="\t")

In [78]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home youâ€™re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

## Twitter Pre-Processing

In [79]:
df['tweet'] = df['tweet'].str.replace('@USER','')

In [80]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [81]:
# Removing hyperlinks
def hyperlink(tweet):
    return re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)

In [82]:
df['tweet'] = df['tweet'].apply(hyperlink)

In [83]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [84]:
# Removing retweets
def retweets(tweet):
    return re.sub(r'^RT[\s]+', '', tweet)

In [85]:
df['tweet'] = df['tweet'].apply(retweets)

In [86]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [74]:
pattern = re.compile(r"[A-Z][a-z]+|\d+|[A-Z]+(?![a-z])")

def split_hashtag(tag):
    return pattern.findall(tag)

In [75]:
df['tweet'] = df['tweet'].apply(split_hashtag)

In [76]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[She, Americans]",OFF,UNT,NaN
1,90194,"[Go, MAGA, Trump, 2020, URL]",OFF,TIN,IND
2,16820,"[Amazon, Chinese, URL, Amazon, MAGA, KAG, CHIN...",NOT,NaN,NaN
3,62688,"[Someone, Taken]",OFF,UNT,NaN
4,43605,[Obama],NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[Sometimes, I, DT]",OFF,TIN,IND
13236,67210,"[Benidorm, Creamfields, Maga, Not]",NOT,NaN,NaN
13237,82921,"[And, We]",OFF,TIN,OTH
13238,27429,[Pussy],OFF,UNT,NaN
13239,46552,"[Spanishrevenge, Human, Rights, Freedom, Of, E...",NOT,NaN,NaN

## Lower Case

In [57]:
df['tweet'] = df['tweet'].str.lower()

In [58]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,she should ask a few native americans what th...,OFF,UNT,NaN
1,90194,go home youâ€™re drunk!!! #maga #trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,amazon is investigating chinese employees who ...,NOT,NaN,NaN
3,62688,"someone should'vetaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,sometimes i get strong vibes from people and ...,OFF,TIN,IND
13236,67210,benidorm âœ… creamfields âœ… maga âœ… not too sh...,NOT,NaN,NaN
13237,82921,and why report this garbage. we don't give a...,OFF,TIN,OTH
13238,27429,pussy,OFF,UNT,NaN
13239,46552,#spanishrevenge vs. #justice #humanrights and ...,NOT,NaN,NaN

## Removing Numbers

In [26]:
df['tweet'] = df['tweet'].replace('\d+', '', regex=True)

In [27]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@user she should ask a few native americans wh...,OFF,UNT,NaN
1,90194,@user @user go home youâ€™re drunk!!! @user #mag...,OFF,TIN,IND
2,16820,amazon is investigating chinese employees who ...,NOT,NaN,NaN
3,62688,"@user someone should'vetaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@user @user obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@user sometimes i get strong vibes from people...,OFF,TIN,IND
13236,67210,benidorm âœ… creamfields âœ… maga âœ… not too sh...,NOT,NaN,NaN
13237,82921,@user and why report this garbage. we don't g...,OFF,TIN,OTH
13238,27429,@user pussy,OFF,UNT,NaN
13239,46552,#spanishrevenge vs. #justice #humanrights and ...,NOT,NaN,NaN

## Removing Punctuation

In [28]:
df['tweet'] = df['tweet'].str.replace('[{}]'.format(string.punctuation), '')

C:\Users\suhas\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [29]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,user she should ask a few native americans wha...,OFF,UNT,NaN
1,90194,user user go home youâ€™re drunk user maga trump...,OFF,TIN,IND
2,16820,amazon is investigating chinese employees who ...,NOT,NaN,NaN
3,62688,user someone shouldvetaken this piece of shit ...,OFF,UNT,NaN
4,43605,user user obama wanted liberals amp illegals t...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,user sometimes i get strong vibes from people ...,OFF,TIN,IND
13236,67210,benidorm âœ… creamfields âœ… maga âœ… not too sh...,NOT,NaN,NaN
13237,82921,user and why report this garbage we dont give...,OFF,TIN,OTH
13238,27429,user pussy,OFF,UNT,NaN
13239,46552,spanishrevenge vs justice humanrights and free...,NOT,NaN,NaN