In [2]:
import pandas as pd
import nltk
import string
import re

## Importing

In [30]:
df = pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\OLIDv1.0\olid-training-v1.0.tsv", sep="\t")

In [31]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home youâ€™re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

## Twitter Pre-Processing

In [32]:
df['tweet'] = df['tweet'].str.replace('@USER','')

In [33]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [34]:
# Removing hyperlinks
def hyperlink(tweet):
    return re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)

In [35]:
df['tweet'] = df['tweet'].apply(hyperlink)

In [36]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [37]:
# Removing retweets
def retweets(tweet):
    return re.sub(r'^RT[\s]+', '', tweet)

In [38]:
df['tweet'] = df['tweet'].apply(retweets)

In [39]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [40]:
def split_hashtag(tweet):
    return re.sub(r'#', '', tweet)

In [41]:
df['tweet'] = df['tweet'].apply(split_hashtag)

In [42]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! MAGA Trump2020 ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice HumanRights and Fre...,NOT,NaN,NaN

In [43]:
# Splitting joined words
def join_words(tweet):
    return re.sub(r"([a-z\.!?])([A-Z])", r"\1 \2", tweet)

In [44]:
df['tweet'] = df['tweet'].apply(join_words)

In [45]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! MAGA Trump2020 ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should've Taken"" this piece of shit t...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice Human Rights and Fr...,NOT,NaN,NaN

## Removing Numbers

In [46]:
df['tweet'] = df['tweet'].replace('\d+', '', regex=True)

In [47]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! MAGA Trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should've Taken"" this piece of shit t...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice Human Rights and Fr...,NOT,NaN,NaN

## Removing Punctuation

In [48]:
df['tweet'] = df['tweet'].str.replace('[{}]'.format(string.punctuation), '')

C:\Users\suhas\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [49]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk MAGA Trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,Someone shouldve Taken this piece of shit to ...,OFF,UNT,NaN
4,43605,Obama wanted liberals amp illegals to move i...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage We dont give a crap,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs justice Human Rights and Fre...,NOT,NaN,NaN

## Removing Whitespaces

In [50]:
df['tweet'] = df['tweet'].str.strip()

In [51]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what the...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk MAGA Trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,Someone shouldve Taken this piece of shit to a...,OFF,UNT,NaN
4,43605,Obama wanted liberals amp illegals to move int...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and t...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage We dont give a crap,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs justice Human Rights and Fre...,NOT,NaN,NaN

## Converting to lowercase

In [52]:
df['tweet'] = df['tweet'].str.lower()

In [53]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,she should ask a few native americans what the...,OFF,UNT,NaN
1,90194,go home youâ€™re drunk maga trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š url,OFF,TIN,IND
2,16820,amazon is investigating chinese employees who ...,NOT,NaN,NaN
3,62688,someone shouldve taken this piece of shit to a...,OFF,UNT,NaN
4,43605,obama wanted liberals amp illegals to move int...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,sometimes i get strong vibes from people and t...,OFF,TIN,IND
13236,67210,benidorm âœ… creamfields âœ… maga âœ… not too sh...,NOT,NaN,NaN
13237,82921,and why report this garbage we dont give a crap,OFF,TIN,OTH
13238,27429,pussy,OFF,UNT,NaN
13239,46552,spanishrevenge vs justice human rights and fre...,NOT,NaN,NaN

## Removing Stop Words

In [54]:
from nltk.corpus import stopwords  
from nltk.tokenize import TweetTokenizer 
tokenizer = TweetTokenizer(preserve_case=True, strip_handles=True, reduce_len=True)

In [55]:
def token(tweet):
    return tokenizer.tokenize(tweet)

In [56]:
df['tweet'] = df['tweet'].apply(token)

In [57]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[she, should, ask, a, few, native, americans, ...",OFF,UNT,NaN
1,90194,"[go, home, you, â€™, re, drunk, maga, trump, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, is, investigating, chinese, employees...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, this, piece, of, sh...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberals, amp, illegals, to, m...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, i, get, strong, vibes, from, peopl...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, not, to...",NOT,NaN,NaN
13237,82921,"[and, why, report, this, garbage, we, dont, gi...",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, vs, justice, human, rights, a...",NOT,NaN,NaN

In [58]:
stop_words = set(stopwords.words('english'))

In [59]:
def remove(tweet):
    return [i for i in tweet if i not in stop_words]

In [60]:
df['tweet'] = df['tweet'].apply(remove)

In [61]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[ask, native, americans, take]",OFF,UNT,NaN
1,90194,"[go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, investigating, chinese, employees, se...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, piece, shit, volcan...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberals, amp, illegals, move,...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, get, strong, vibes, people, man, â€™...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...",NOT,NaN,NaN
13237,82921,"[report, garbage, dont, give, crap]",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, vs, justice, human, rights, f...",NOT,NaN,NaN

## Lemmatising

In [62]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [63]:
def lemm(tweet):
    return [lemmatizer.lemmatize(i) for i in tweet]

In [64]:
df['tweet'] = df['tweet'].apply(lemm)

In [65]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[ask, native, american, take]",OFF,UNT,NaN
1,90194,"[go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, investigating, chinese, employee, sel...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, piece, shit, volcan...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberal, amp, illegals, move, ...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, get, strong, vibe, people, man, â€™,...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...",NOT,NaN,NaN
13237,82921,"[report, garbage, dont, give, crap]",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, v, justice, human, right, fre...",NOT,NaN,NaN

## Saving Processed Training Data

In [66]:
df.to_csv('processed_train.csv')